:root {
  --ff-inconsolata: "Inconsolata", monospace;
  --ff-space-mono: "Space Mono", monospace;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-space-mono);
}

.container {
  width: 100%;
  max-width: 1240px;
  padding-block: 1.375rem;
  padding-inline: 1.5rem;
  margin-inline: auto;
}

.top {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.image img {
  max-width: 100%;
  padding: 2.75rem;
}

.content h1 {
  font-size: 3rem;
}

.flex {
  display: flex;
  flex-direction: column;
}

.content p {
  font-size: 1.125rem;
  margin-block-start: 1.5rem;
  margin-block-end: 2.125rem;
  line-height: 27px;
  text-align: start;
}

button {
  font-family: var(--ff-space-mono);
  cursor: pointer;
}

.btn {
  background-color: #333333;
  color: white;
  padding: 1.5rem 2.6875rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 700;
}

@media (min-width: 64em) {
  .container {
    padding-block: 2.5rem;
	padding-inline: 0;
  }
  .flex {
    flex-direction: row;
    gap: 7.37rem;
  }
  .image {
    width: 70%;
  }
  .image img {
    padding: 0;
  }
  .content h1 {
    font-size: 4rem;line-height: 95px;
	letter-spacing: -0.035em;
  }
  .content p {
    font-size: 1.5rem;
	width: 60%;
line-height: 36px;
letter-spacing: -0.035em;
  }
}
